.message-enter {
  opacity: 0;
  transform: translateX(100%);
}
.message-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms ease-out;
}

.message-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms ease-in;
}